.DS_Store
.fileStorage/
.vscode
.idea
.c9
*.csv
*.dat
*.gz
*.log
*.out
*.pid
*.seed
*.sublime-project
*.sublime-workspace

jsdoc.json
lib-cov
logs
node_modules
npm-debug.log
pids
results
allure-results

client/plugins.js
client/plugins.css
client/plugins.less
client/plugins.styl
client/plugins.scss
server/plugins.js

custom/client/*
!custom/client/.gitkeep

custom/server/*
!custom/server/.gitkeep

public/custom/*
!public/custom/.gitkeep

private/custom/*
!private/custom/.gitkeep

imports/plugins/custom/*
!imports/plugins/custom/.gitkeep

.reaction/config.json
/imports/test-utils/*
/public/favicons/android-chrome-48x48.png
/public/favicons/apple-touch-icon.png
/public/favicons/manifest.json
/public/favicons/favicon-32x32.png
/public/favicons/mstile-150x150.png
/public/favicons/browserconfig.xml
/public/favicons/safari-pinned-tab.svg
/public/favicons/favicon.ico
/public/favicons/favicon-16x16.png
